<?xml version="1.0"?>

<model>
  <name>LandingTarget</name>
  <version>1.0</version>
  <sdf version='1.5'>land_target.sdf</sdf>

  <author>
    <name>Michael Goettlicher</name>
    <email>michael.goettlicher@bfh.ch</email>
  </author>

  <description>
    A visual target for automatic landing with a camera.
  </description>
</model>
