<?xml version="1.0"?>

<model>
  <name>PixyCamera</name>
  <version>1.0</version>
  <sdf version='1.5'>pixy_cam.sdf</sdf>

  <author>
    <name>Michael Goettlicher</name>
    <email>michael.goettlicher@bfh.ch</email>
  </author>

  <description>
    A perspective camera named pixy for automatic landing.
  </description>
</model>
